/*CSS STYLES*/
/* /////////////////////// Estilos Globales //////////////////////// */

   @font-face {
        font-family: 'suprema';
        src: url('suprema-400-regular-webfont.woff2') format('woff2'),
             url('fonts/suprema-400-regular-webfont.woff') format('woff'),
             url('suprema-400-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'suprema';
        src: url('suprema-100-thin-webfont.woff2') format('woff2'),
             url('suprema-100-thin-webfont.woff') format('woff');
        font-weight: thin;
        font-style: thin;
    
    }

    *{
      padding: 0;
      margin: 0;
      word-wrap: break-word;
    }

    body {
        background-color: #EAECF0;
        color: #6A7682;
        font-family: suprema;
        /* Referencia para variable de tamaño usado para medidas "em" */
        font-size: 16px;
        /* ////////////////////////////////////////////////////////// */
    }

/* ////////////////////// ///////////////////// ///////////////////// */

/*////////////////////////////// TEXTOS //////////////////////////////*/

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 3.5em;
      font-weight: 100;
    }

    h3 {
      font-size: 2em;
    }

  /* Aplicar Mayusculas a todas las letras */
      .first-title{
        text-transform: capitalize;
    }
  /* ///////////////////////////////////// */

    .title01 {
      font-size: 8em;
    }

    .title01Combine {
      font-size: 7em;
    }

    .txt_Subtitle {
      font-size: 1.5em;
    }

    .txt {
      font-size: 1.5em;
    }

    .text_Paragraph {
      font-size: 1.2em;
    }

    .title02 {
      font-size: 3em;
    }

    .txtNutInf {
      padding: 0 10%;
    }

/* ////////////////////// ///////////////////// ///////////////////// */

/*///////////////////////////// COLORES //////////////////////////////*/

    .colorYellowBasic {
        color: #F7A53B;
    }

    .titleBoldYellow {
      color: #F7A53B;
      font-weight: bolder;
    }

    .colorYellow40 {
      color: #BD7C0F;
    }

    a {
        color: #54859e;
    }

    a:hover {
        color:#F7A53B;
    }

    i {
      color: #6A7682;
    }

    i:hover {
      color:#F7A53B;
    }

    .btn {
      color: #6A7682;
    }

/* ////////////////////// ///////////////////// ///////////////////// */

/*////////////////////////////// LISTAS //////////////////////////////*/

    ul {
      list-style-type: none;
    }

    li {
        margin-bottom: 1%;
    }
    
/* ////////////////////// ///////////////////// ///////////////////// */

/*/////////////////////////////// MENU ///////////////////////////////*/

    .header{
      position: relative;
      width: 100%;
    }

    .header-inner{
      top: 0;
      left: 0;
      width:100%;
      z-index: 99;
      background-color: #EFEFEF;
    }

    .nav-item .nav-link{
        display: block;
        line-height: 36px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        color: #7e7e7e;
        transition: 0.15s;
    }
    
    .nav-item .nav-link:hover{
        color: #F7A53B;
    }
    
    .header-btn{
        color:#ffffff;
        border-radius: 30px;
        background-color:gray;
        border:none;
        font-weight: 500;
        outline: none;
        font-size: 15px;
        padding:7px 22px;
        transition: 0.5s;
    }
    
    .header-btn:hover{
        background-color: #F7A53B;
        cursor: pointer;
    }
    
    .navbar-scroll{
        background-color: #ffffff;
        padding: 0;
        position: fixed;
        top:0;
        z-index: 99;
        box-shadow:0px 1px 10px rgba(0,0,0,0.4);
        transition-duration: 0.6s; 
    }
    
    .navbar-scroll .nav-item .nav-link{
        color: black;
    }
    
    .navbar-scroll .header-btn{
        color: #ffffff;
        background-color: #fe4066;
    }
    
    .navbar-scroll .logo{
        color: #000;
        font-weight: 500;
    }

    .navP .logo img {
      width: 70%;
      margin: -3px 0px 0px 0px;
    }

    .socialMediaMenu {
      display: flex; 
      align-items: center;
    }

    .langMenu {
      display: flex; 
      justify-content: flex-end; 
      text-align: right; 
      align-items: center;
    }

/* ////////////////////// ///////////////////// ///////////////////// */

/* /////////////////////// CONTAINER & SECTION ////////////////////// */

    section{
        background-color: #EAECF0;
        padding: 4rem 0rem 4rem;
        color: #6A7682;
    }

    section:nth-of-type(even){
        background-color: #EAECF0;
        color: white;
        color: #6A7682;
    }

    .first_Section {
        display: flex;
    }

/* /////////////////////// ///////////////////// ///////////////////// */

/* //////////////////////// ///// BOTONES ///// ////////////////////// */

    .btn-submit {
        margin: 0% 2%;
        background-color: #f7a53b;
        color: white;
        border: none;
        padding: 1% 5%;
    }

    .btn-lang {
        background: transparent;
        border: white solid 1px;
        width: 20%;
        color: white;
        text-align: center;
        padding: .2% 2%;
    }

    .btn-lang {
        border: none;
        color: white;
        width: auto;
        line-height: 1;
        padding: 1%;
        padding-right: 2%;
        margin: 0;
        margin-top: 2px;
    }

/* /////////////////////// ///////////////////// ///////////////////// */

/* //////////////////////// ////// FORMS ////// ////////////////////// */

    .form-control::placeholder{
        color: rgb(160, 173, 190);
        font-weight: normal;
    }

    #contactusHM form label {
        color: #6A7682;
    }

    #contactusHM .form-control::selection {
        border-color: #F7A53B;
    }

    .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #f7a53b;
        box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #e1dbd3;
    }

/* //////////////////////// ///////////////////// ////////////////////// */

/* ////////////////////// ////// ACCORDEON ////// ////////////////////// */
    .accordion {
        --bs-accordion-bg: transparent;
    }

    .accordion-item {
        background-color: transparent;
        color: #6A7682;
    }

    .accordion-header {
        border-bottom: 1.8px solid #f7a53b;
    }

    .accordion-button {
        color: #6A7682;
    }

    .accordion-flush>.accordion-item>.accordion-collapse {
        border-bottom: 1px solid #f7a53b;
    }

/* ////////////////////// ///////////////////// ////////////////////// */

/* ///////////////////// ///// CONDICIONES ///// ///////////////////// */

    .justDesktop {
      display: initial;
    }

    .justNotebook {
      display: none;
    }

    .justMobile {
      display: none;
    }

/* ////////////////////// ///////////////////// ///////////////////// */

/*/////////////////////////// - About Us - ///////////////////////////*/
    .imgAboutDec01 {
      position: absolute;
      top: -250px;
      width: 14%;
    }

    .imgAboutDec02 {
      position: absolute;
      top: -180px;
      right: 0;
      width: 9%;
    }
/*//////////////////////// /////////////////////// /////////////////////*/

/*///////////////////////////// - Combine - ////////////////////////////*/

    .imgDec01Combine {
      position: absolute; 
      top: 280px; 
      right: 0;
      width: 40%;
    }

    .textHeadCombine {
      padding-right: 35%;
    }

    .img01HeaderCombine {
      width: 80%;
    }

    .stepsCombine {
      margin-top: 15%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .imgCombinationCombine02 {
      width: 100%;
    }

    .enjoyDownload {
      text-align: left;
      margin-top: 19%;
    }

/*/////////////////////// /////////////////////// //////////////////////*/

/*/////////////////////////// - How it Works - /////////////////////////*/

    .headerHowitWorksIMG {
      background-image: url(images/bannerHowItWorks.png);
      background-size: contain; 
      background-position: right; 
      background-repeat: no-repeat;
    }

    .contentHeaderHowitWorks {
      align-content: center;
      vertical-align: middle;
      padding: 5% 0%;
      padding-right: 5%;
    }

    .titleHiW_Header {
      margin-top: 4%;
    }

    .txtHiW_Header {
      font-size: 1.3em;
      margin-top: 0;
    }


/*/////////////////// ///////////////////////////// ////////////////////*/

/*///////////////////////////// - Home - ///////////////////////////////*/

    .firstTitleHome {
      font-size: 4em;
    }

    .imgHomeDec02 {
      position: absolute;
      right: 0;
      top: -230px;
      width: 30%;
    }

    .imgHomeDec01 {
      position: absolute;
      left: 0;
      top: -160px;
      width: 15%;
      max-width: 180px;
    }

    .logoHome03 {
      width: 100%;
      margin-bottom: 20%;
      margin-top: 0;
    }

    .imgHomeDec03 {
      position: absolute;
      left: 0;
      top: 130px;
      width: 16%;
    }

    .PDF_MealPlan {
      position: absolute;
      top: -120px;
      right: -5%;
      width: 30%;
    }

    .txtPDF_MealPlan {
      font-size: 2.5em;
      color: white;
      font-weight: 100;
      line-height: normal;
    }

    .imgCombineProteinsHome {
      width: 500px; 
      margin-left: -15%;
      width: 100%;
    }

    .calendarHome {
      width: 100%;
    }

    .mockUpHome01_Dsk {
      width: 70%;
      display: initial;
    }

    .mockUpHome01_Mobile {
      display: none;
    }

/*/////////////////// ///////////////////////////// ////////////////////*/

/*/////////////////////////// - Carousel - /////////////////////////////*/

    .containerC {
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    #tranding {
      padding: 0rem 0;
    }

        @media (max-width:1440px) {
          #tranding {
            padding: 7rem 0;
          }
        }

        @media (max-width:1200px) {
          .containerC {
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
          }
        }
    
    #tranding .tranding-slider {
      height: 1rem;
      padding: 1rem;
      position: relative;
    }
    
        @media (max-width:500px) {
          #tranding .tranding-slider {
            height: 45rem;
          }
        }
    
    .tranding-slide {
      width: 12rem;
      height: 5rem;
      position: relative;
      text-align: center;
    }

    .tranding-slide2 {
      width: 12rem;
      height: 5rem;
      position: relative;
      text-align: center;
    }
    
    @media (max-width:300px) {
      .tranding-slide {
        width: 15rem !important;
        height: 5rem !important;
      }
      .tranding-slide .tranding-slide-img img {
        width: 15rem !important;
        height: 100% !important;
      }
    }

    .tranding-slide .tranding-slide-img img {
      width: 13rem;
      height: 100%;
      border-radius: 2rem;
      object-fit:contain;
    }
    
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
      display: none;
    }
    
    .tranding-slider-control {
      position: relative;
      bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .tranding-slider-control .swiper-button-next {
      left: 18% !important;
      transform: translateX(18%) !important;
    }
    
    @media (max-width:990px) {
      .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
      }
    }
    
    @media (max-width:450px) {
      .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
      }
    }
    
    @media (max-width:990px) {
      .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
      }
    }
    
    @media (max-width:450px) {
      .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
      }
    }
    
    .tranding-slider-control .slider-arrow {
      background: var(--white);
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      left: 2%;
      transform: translateX(-42%);
      filter: drop-shadow(0px 8px 24px rgba(67, 76, 98, 0.829));
    }
    
    .tranding-slider-control .slider-arrow ion-icon {
      font-size: 2rem;
      color: #222224;
    }
    
    .tranding-slider-control .slider-arrow::after {
      content: '';
    }
    
    .tranding-slider-control .swiper-pagination {
      position: relative;
      width: 5rem;
      bottom: 0rem;
    }
    
    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
      filter: drop-shadow(0px 8px 24px rgba(65, 82, 114, 0.178));
    }
    
    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
      background: var(--primary);
    }

    .containerC {
      height: 250px;
    }

    .containerC .swiper {
      height: 100%;
    }

    .swiper-3d {
      /*perspective: 2010px;*/
      perspective-origin: 50%;
      perspective: 20%;
    }

/*/////////////////// ///////////////////////////// ////////////////////*/


/*/////////////////////////// - Carousel 02 - /////////////////////////////*/

        .containerC2 {
          max-width: 80%;
          margin: 0 auto;
          text-align: center;
        }

        #tranding {
          padding: 0rem 0;
        }

            @media (max-width:1440px) {
              #tranding {
                padding: 3rem 0;
              }
            }

            @media (max-width:1200px) {
              .containerC2 {
                max-width: 80%;
                margin: 0 auto;
                text-align: center;
              }
            }

        #tranding .tranding-slider2 {
          height: 1rem;
          padding: 1rem;
          position: relative;
        }

            @media (max-width:500px) {
              #tranding .tranding-slider2 {
                height: 45rem;
              }
            }

        .tranding-slide2 {
          width: 8rem;
          height: 5rem;
          position: relative;
          text-align: center;
        }

        @media (max-width:300px) {
          .tranding-slide2 {
            width: 15rem !important;
            height: 5rem !important;
          }
          .tranding-slide2 .tranding-slide-img img {
            width: 15rem !important;
            height: 100% !important;
          }
        }

        .tranding-slide2 .tranding-slide-img2 img {
          width: 7rem;
          height: 100%;
          border-radius: 2rem;
          object-fit:contain;
        }

        .swiper-slide-shadow-left,
        .swiper-slide-shadow-right {
          display: none;
        }

        .tranding-slider-control {
          position: relative;
          bottom: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .tranding-slider-control .swiper-button-next {
          left: 18% !important;
          transform: translateX(18%) !important;
        }

        @media (max-width:990px) {
          .tranding-slider-control .swiper-button-next {
            left: 70% !important;
            transform: translateX(-70%) !important;
          }
        }

        @media (max-width:450px) {
          .tranding-slider-control .swiper-button-next {
            left: 80% !important;
            transform: translateX(-80%) !important;
          }
        }

        @media (max-width:990px) {
          .tranding-slider-control .swiper-button-prev {
            left: 30% !important;
            transform: translateX(-30%) !important;
          }
        }

        @media (max-width:450px) {
          .tranding-slider-control .swiper-button-prev {
            left: 20% !important;
            transform: translateX(-20%) !important;
          }
        }

        .tranding-slider-control .slider-arrow {
          background: var(--white);
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          left: 2%;
          transform: translateX(-42%);
          filter: drop-shadow(0px 8px 24px rgba(67, 76, 98, 0.829));
        }

        .tranding-slider-control .slider-arrow ion-icon {
          font-size: 2rem;
          color: #222224;
        }

        .tranding-slider-control .slider-arrow::after {
          content: '';
        }

        .tranding-slider-control .swiper-pagination {
          position: relative;
          width: 5rem;
          bottom: 0rem;
        }

        .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
          filter: drop-shadow(0px 8px 24px rgba(65, 82, 114, 0.178));
        }

        .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
          background: var(--primary);
        }

        .containerC2 {
          height: 250px;
        }

        .containerC2 .swiper {
          height: 100%;
        }

        .swiper-3d {
          /*perspective: 2010px;*/
          perspective-origin: 50%;
          perspective: 20%;
        }

/*/////////////////// ///////////////////////////// ////////////////////*/

/*//////////////////////////// - FOOTER - //////////////////////////////*/

    .imgFirmaHomeMeals {
      width: 30%;
    }

    footer ul {
      padding: 0;
    }

    .txtDownloadFooter {
      text-align: end;
    }

    .downloadImgFooter {
      padding: 2% 0;
    }

    .title02Home {
      font-size: 3em;
      line-height: normal;
    }

    .titleVideos {
      font-size: 3.4em;
    }

    .logoEnjoyHome {
      width: 80%;
    }

    .imgEnjoyHome02 {
      position: absolute;
      right: 0%;
      top: -520px;
      width: 50%;
    }

    #firma {
      margin: 8% 0;
      margin-top: 29%;
    }

    .botones {
      margin: 0% 2%;
      padding: 15px 80px;
      background-color: #F7A53B;
      color: #fff;
      border-radius: 10px;
    }

    .botones:hover {
      background-color: #ffbc65;
    }

    .mailPDF_Home {
      position: relative;
      text-align: left;
    }

    .mailPDF_Home .botones {
      margin: 0%;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      box-shadow: 8px 4px 2px #22222437;
    }

    .comingSoonImgHome {
      width: 55%;
    }

    .mockUpListHome {
      width: 120%; 
      margin-left: -20%;
    }

    .txtLearnToCookHome {
      padding: 0 20%;
      text-align: center;
      margin-bottom: 5%;
    }

    .learnHomeimg {
      display: flex;
      text-align: right;
      align-items: center;
      vertical-align: middle;
    }

    .learnHomeimg01 {
      text-align: right;
    }

    .learnHomeimg02 {
      text-align: center;
    }

    .learnHomeimg03 {
      text-align: left;
    }

    .comimgsoonFooter {
      display: flex;
      justify-content: end;
    }


/*/////////////////// ///////////////////////////// ////////////////////*/

/*/////////////////// --------- ---------- --------- ///////////////////*/
/*/////////////////// --------- RESPONSIVE --------- ///////////////////*/
/*/////////////////// --------- --styles-- --------- ///////////////////*/
/*/////////////////// --------- ---------- --------- ///////////////////*/

/*/////////////////////  ------LAPTOP SMALL------  /////////////////////*/

      @media screen and (max-width: 1200px) {
        .txt_Subtitle {
          font-size: 1.7em;
        }

        .txt {
          font-size: 1.5em;
        }

        .title01 {
          font-size: 5em;
          font-weight: 100;
        }

        .title02 {
          font-size: 2.7em;
        }

        .justNotebook {
          display: initial;
        }

        .justIpadTablet {
          display: none;
        }

        .justMobile {
          display: none;
        }

        .title01Combine {
          font-size: 5em;
        }

        .img01HeaderCombine {
          width: 100%;
        }

        .imgFirmaHomeMeals {
          width: 40%;
        }

        .colTitleHome {
          width: 100%;
        }
        .colTitleHome img {
          width: 100%;
        }

        .title02Home {
          font-size: 2.5em;
        }

        .titleVideos {
          font-size: 3.2em;
        }

        .imgCombineProteinsHome {
          width: 400px;
          margin-left: -25%;
        }

        .PDF_MealPlan {
          right: -9%;
        }
      }

/*/////////////////// ///////////////////////////// ////////////////////*/

      @media screen and (max-width: 1000px) {

        .txtLearnToCookHome {
          padding: 0 5%;
        }

        .imgHomeDec02 {
          top: -100px;
          width: 27%;
        }

        .imgEnjoyHome02 {
          top: -490px;
        }

        .learnHomeimg01 {
          text-align: right;
          width: 50%;
        }
    
        .learnHomeimg02 {
          text-align: center;
          width: 50%;
        }
    
        .learnHomeimg03 {
          text-align: left;
          width: 100%;
        }

        .combine01 {
          width: 100%;
        }

        .combine02 {
          display: none;
        }

        .combine01 h2 {
          text-align: center;
        }

        .navP .logo img {
          width: 50%;
        }
        
        .navbar-collapse {
          margin-top: 5%;
        }
    

      }

/*////////////////////  ------IPAD & Tablet------  /////////////////////*/

      @media screen and (max-width: 990px) {
        .txt_Subtitle {
          font-size: 1.7em;
        }

        .txt {
          font-size: 1.4em;
        }

        .justDesktop {
          display: none;
        }

        .justIpadTablet {
          display: initial;
        }

        .justNotebook {
          display: none;
        }

        .title01 {
          font-size: 5em;
          font-weight: 100;
        }

        .title02 {
          font-size: 2.7em;
          line-height: normal;
        }

        .justMobile {
          display: none;
        }

        .txtDownloadFooter {
          text-align: start;
        }

        .imgAboutDec01 {
          top: -100px;
          width: 15%;
        }

        .imgAboutDec02 {
          width: 13%;
        }

        .title01Combine {
          font-size: 3.5em;
        }

        .title02combine {
          font-size: 1.8em;
          line-height: 1.1em;
        }

        .imgCombinationCombine02 {
          width: 110%;
        }

        .title02Home {
          font-size: 2.5em;
        }

        .titleVideos {
          font-size: 2.6em;
        }

        .imgCombineProteinsHome {
          width: 350px;
          margin-left: -35%;
        }

        .headerHowitWorksIMG {
          background-position: top right;
          padding: 10%;
          padding-bottom: 0;
        }

        .titleHiW_Header {
          margin-top: -3%;

        }

        .txtHiW_Header {
          font-size: 1.3em;
          margin-top: 10%;
        }

        .contentHeaderHowitWorks {
          padding-right: 0;
        }

        .video02HiW, .video03HiW, .video04HiW, .video05HiW {
          align-content: center;
        }

        .firma {
          margin: 0;
          padding: 0 10%;
          margin-bottom: 15%;
        }

        .PDF_MealPlan {
          position: absolute;
          top: 80px;
          right: 0%;
          width: 35%;
        }

        .imgHomeDec01 {
          top: -90px;
        }

        .mockUpListHome {
          margin-left: 0%;
          width: 100%;
        }

        .imgHomeDec02 {
          top: -50px;
          width: 30%;
        }

        .enjoyDownload {
          margin-top: 9%;
        }

        .imgEnjoyHome02 {
          top: -320px;
        }

        .imgHomeDec03 {
          top: 10px;
        }

        .txtLearnToCookHome {
          padding: 0%;
        }

        .learnHomeimg01 {
          text-align: right;
          width: 50%;
        }
    
        .learnHomeimg02 {
          text-align: center;
          width: 50%;
        }
    
        .learnHomeimg03 {
          text-align: left;
          width: 100%;
        }

        .combine01 {
          width: 100%;
        }

        .combine02 {
          display: none;
        }

        .combine02 h1 {
          text-align: center;
        }

        .comimgsoonFooter {
          justify-content: center;
        }

      }

/*/////////////////// ///////////////////////////// ////////////////////*/

/*////////////////////  ------ Cellphone ------  //////////////////////*/

      @media screen and (max-width: 590px) {
        .firstTitleHome {
          font-size: 2.5em;
        }

        .navP {
          justify-content: center;
          text-align: center;
        }

        .txt_Subtitle {
          font-size: 1.3em;
        }

        .socialMediaMenu {
          justify-content: center;
        }

        .langMenu {
          justify-content: center;
        }

        .navP img {
          padding-left: 5%;
          margin-bottom: 3% !important;
        }

        .title02 {
          font-size: 2.3em;
          line-height: normal;
        }

        .justIpadTablet {
          display: none;
        }

        .justMobile {
          display: initial;
        }

        .txtDownloadFooter {
          text-align: center;
        }

        .imgAboutDec01 {
          top: -80px;
          width: 15%;
        }

        .imgAboutDec02 {
          top: -130px;
          width: 19%;
        }

        .downloadImgFooter {
          width: 50%;
        }

        .imgFirmaHomeMeals {
          width: 50%;
        }

        .title01Combine {
          font-size: 2em;
        }

        .imgDec01Combine {
          top: 385px;
          width: 48%;
        }

        .textHeadCombine {
          padding-right: 45%;
        }

        .stepsCombine {
          flex-wrap: wrap;
        }

        .stepsCombine img {
          width: 25%;
        }

        .stepsCombine h2 {
            font-size: 2.2em;
            line-height: 1em;
            margin-top: 3%;
        }

        .imgCombinationCombine02 {
          width: 90%;
        }

        .title02combine {
          font-size: 2em;
        }

        .txtNutInf {
          padding: 0%;
        }

        .headerHowitWorksIMG {
          background-size: 158%;
          background-position: top right;
        }

        .contentHeaderHowitWorks {
          text-align: center;
          margin-top: 50%;
          padding: 0;
        }

        .title02Home {
          font-size: 2em;
          text-align: center;
        }

        section {
          padding-bottom: 5%;
          padding-top: 13%;
        }

        .txt {
          font-size: 1.3em;
        }

        .logoHome03 {
          width: 70%;
          margin-bottom: 10%;
          margin-top: 40%;
        }

        .imgCombineProteinsHome {
          width: 350px;
          margin-left: 5%;
        }

        .imgHomeDec03 {
          top: 0;
          width: 18%;
        }

        .PDF_MealPlan {
          position: absolute;
          top: 100px;
          right: 1%;
          width: 38%;
        }

        .imgHomeDec01 {
          top: -30px;
          width: 18%;
        }

        .calendarHome {
          width: 80%;
        }
        .mockUpHome01_Dsk {
          width: 70%;
          display: none;
        }
    
        .mockUpHome01_Mobile {
          display: initial;
          width: 100%;
        }

        .video01HiW {
          order: 1;
          margin-top: 0;
        }

        .video01HiWtxt {
          order: 2;
        }

        .video02HiW {
          order: 1;
          margin-top: 10%;
        }

        .video02HiWtxt {
          order: 2;
        }

        .video03HiW {
          order: 1;
          margin-top: 10%;
        }

        .video03HiWtxt {
          order: 2;
        }

        .video04HiW {
          order: 1;
          margin-top: 10%;
        }

        .video04HiWtxt {
          order: 2;
        }

        .video05HiW {
          order: 1;
          margin-top: 10%;
        }

        .video05HiWtxt {
          order: 2;
        }

        #videos {
          padding-top: 3% !important;
        }

        .titleVideos {
          font-size: 2.8em;
        }
    
        .txtHiW_Header {
          font-size: 1.3em;
          margin-top: 0;
        }

        .titleHiW_Header {
          margin-top: 22%;
        }

        .txtPDF_MealPlan {
          font-size: 2em;
        }

        .comingSoonImgHome {
          width: 50%;
        }

        .enjoyDownload {
          text-align: center;
          margin-top: 7%;
        }

        #firma {
          margin: 8% 0;
          margin-bottom: 15%;
        }

        .mealplanningIMG {
          width: 50%;
        }

        .mealplanningIMG2 {
          display: none;
        }
        
        .botones {
          margin: 0% 2%;
          padding: 10px 30px;
        }

        .mailPDF_Home .botones  {
          margin-bottom: 5%;
        }

        .imgEnjoyHome02 {
          display: none;
        }

        .imgHomeDec02 {
          top: 30px;
          width: 32%;
        }

        .navbar-toggler {
          margin: auto;
        }

      }

/*/////////////////// ///////////////////////////// ////////////////////*/